//  CIRRO CUSTOM SASS
// ----------------------------------------------------------------------------



#header-front
	width: 100%
	height: 500px
	background-image: url(../img/capital.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	-webkit-background-size: cover
	-moz-background-size: cover